<form method="get" action="/quizes/<%= quiz.id %>/answer">
          Tema: <%= quiz.tema.replace(/\w+/, function(a){ return a.charAt(0).toUpperCase() + a.slice(1).toLowerCase(); }) // Primera letra en mayúsculas %><br />
          Pregunta: <%= quiz.pregunta %><br />
          <input type="text" name="respuesta" value="Respuesta" />
          <input type="submit" value="Enviar" />
        </form>
        <p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Añadir comentario</button></a></p>
        <p><strong>Comentarios:</strong></p><% for (index in quiz.Comments){ %>
        <p>- <%= quiz.Comments[index].texto %></p><% } %>